
@model IEnumerable<despensa.Models.Item>

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PredidoFactura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">


            <table id="lstProductos" class="table table-striped  table-hover">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td class="total"></td>
                    </tr>
                </tfoot>
            </table>


            <div class="table-responsive">
                <table class="timetable_sub">
                    <thead>

                        <tr>
                            <th>No.</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="rem1">
                                <td class="invert">1</td>
                                <td class="invert-image">
                                    <a href="single2.html">
                                        <img src="@Url.Content("~/image/" + item.Product.Imagen)" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="pikachu">

                                            <input type="number" min="0" step="1" value="@item.Quantity" class="cantidad form-control" onchange="calcular2(this,@item.Product.CodProducto);">

                                    </div>
                                </td>
                                <td class="invert">@item.Product.Nombre @item.Product.Peso</td>
                                <td class="invert">
                                    <input type="hidden" value="@item.Product.PrecioVenta" class="precio_unitario form-control">
                                    <input class="form-control subtotal" type="text" disabled>

                                </td>
                                <td class="invert">
                                    <button class='btn btn-danger' onclick='eliminarFila(this,@item.Product.CodProducto)'>Eliminar</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total</td>
                            <td class="total"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>




            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

