@model despensa.Models.PredidoFactura

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/vistasincarro.cshtml";
}
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Mi Pedido


            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        @if (@ViewBag.ErrorCarrito == 1)
        {
            <div class="alert alert-danger text-center">
                <strong>Su Compra Debe Ser Mayor A Q50</strong>
            </div>

        }
        else if (@ViewBag.ErrorCarrito == 2)
        {
            <div class="alert alert-danger text-center">
                <strong>En Estos Momentos No Contamos Las Unidades Suficientes De:</strong>
                <strong>@ViewBag.Inexistencia.Nombre , Quedan @ViewBag.Inexistencia.Cantidad Unidades</strong>
            </div>

        }
        else if (@ViewBag.ErrorCarrito == 3)
        {
            <div class="alert alert-danger text-center">
                <strong>El Carrito Se Encuentra Vacio</strong>
            </div>
        }
        else if (@ViewBag.ErrorCarrito == 4)
        {
            <div class="alert alert-danger text-center">
                <strong>No Puede Ir Una Cantidad En 0</strong>
            </div>
        }
        <!-- //tittle heading -->
        <div class="checkout-right">
            <h4>
                Usted ha añadido:
                <span id="cantidad_producntos">0 Productos @ViewBag.ErrorCarrito</span>
            </h4>
            <div class="table-responsive">
                <table id="lstProductos" class="timetable_sub">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total</td>
                            <td class="total"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="checkout-left">
            <div class="address_form_agile">
                <h4>Corrobore Sus Datos</h4>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="checkout-right-basket">
                        <input type="submit" value="Realizar Pedido" class="btn btn-default" />
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>