@model despensa.Models.Usuario

@{
    ViewData["Title"] = "Pedido";
    Layout = "~/Views/Shared/vistasincarro.cshtml";
}
<link rel="stylesheet" href="~/css/login.css">
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Mi Pedido


            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        @if (@ViewBag.ErrorCarrito == 1)
        {
            <div class="alert alert-danger text-center">
                <strong>Su Compra Debe Ser Mayor A Q50</strong>
            </div>

        }
        else if (@ViewBag.ErrorCarrito == 2)
        {
            <div class="alert alert-danger text-center">
                <strong>En Estos Momentos No Contamos Las Unidades Suficientes De:</strong>
                <strong>@ViewBag.Inexistencia.Nombre , Quedan @ViewBag.Inexistencia.Cantidad Unidades</strong>
            </div>

        }
        else if (@ViewBag.ErrorCarrito == 3)
        {
            <div class="alert alert-danger text-center">
                <strong>El Carrito Se Encuentra Vacio</strong>
            </div>
        }
        else if (@ViewBag.ErrorCarrito == 4)
        {
            <div class="alert alert-danger text-center">
                <strong>No Puede Ir Una Cantidad En 0</strong>
            </div>
        }
        <!-- //tittle heading -->
        <div class="checkout-right">
            <h4>
                Usted ha añadido:
                <span id="cantidad_producntos">0 Productos @ViewBag.ErrorCarrito</span>
            </h4>
            <div class="table-responsive">
                <table id="lstProductos" class="timetable_sub">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total</td>
                            <td class="total"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="checkout-left">
            <div class="address_form_agile">
                <h4>Sus Datos Personales</h4>

                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Primer Nombre <span class="req">*</span>
                        </label>
                        <div class="divinput" style="width:100%;">  @Html.DisplayFor(model => model.PrimerNombre)</div>
                    </div>

                    <div class="contenedor-input">
                        <label class="active highlight">
                            Segundo Nombre <span class="req">*</span>
                        </label>
                        <div class="divinput" style="width:100%;">  @Html.DisplayFor(model => model.SegundoNombre)</div>
                    </div>
                </div>
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Primer Apellido <span class="req">*</span>
                        </label>
                        <div class="divinput" style="width:100%;">  @Html.DisplayFor(model => model.PrimerApellido)</div>
                    </div>

                    <div class="contenedor-input">
                        <label class="active highlight">
                            Segundo Apellido <span class="req">*</span>
                        </label>
                        <div class="divinput" style="width:100%;">  @Html.DisplayFor(model => model.SegundoApellido)</div>
                    </div>
                </div>
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            CUI <span class="req">*</span>
                        </label>
                        <div class="divinput" style="width:100%;">  @Html.DisplayFor(model => model.Cui)</div>
                    </div>

                    <div class="contenedor-input">
                        <label class="active highlight">
                            NIT <span class="req">*</span>
                        </label>
                        <div class="divinput" style="width:100%;">  @Html.DisplayFor(model => model.Nit)</div>
                    </div>
                </div>


                <form asp-action="Create">
                    <h4>En esta direcciones desea el pedido?</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Direccion <span class="req">*</span>
                        </label>
                        <input name="Direccion_entrega" type="text" value="@Html.DisplayFor(model => model.Direccion)" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                    </div>
                    <div class="text-center">
                        <input value="Guardar" type="submit" style="width:150px;" class="botones validar redondear">
                        <a asp-controller="Home" asp-action="Index" class="botones danger redondear">Regresar</a>
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>