@model despensa.Models.PredidoFactura

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PredidoFactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FecEmision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FecEmision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalVendido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalVendido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCosto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCosto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodClienteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodClienteNavigation.CodCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodEmpleadoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodEmpleadoNavigation.CodEmpleado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodEstadoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodEstadoNavigation.CodEstado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodFactura" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
