@model despensa.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodGenero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodGenero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cui)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cui)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FecNac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FecNac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grid2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grid2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagenPerfil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagenPerfil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PedidoFavorito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PedidoFavorito)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodEstadoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodEstadoNavigation.CodEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodGeneoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodGeneoNavigation.CodGenero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodRolNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodRolNavigation.CodRol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
