@model despensa.Models.Producto

@{
    ViewData["Title"] = "Details";
}



<link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
@*
    <h2>Details</h2>

    <div>
        <h4>Producto</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FecCaducidad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FecCaducidad)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrecioCosto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrecioCosto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrecioVenta)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Imagen)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Imagen)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Peso)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Peso)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CodEstadoNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodEstadoNavigation.CodEstado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CodMarcaNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodMarcaNavigation.CodMarca)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CodProveedorNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodProveedorNavigation.CodProveedor)
            </dd>
        </dl>
    </div>
*@


<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            @Html.DisplayFor(model => model.CodCategoriaNavigation.Nombre)
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-5 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                    <ul class="slides">
                        <div class="thumb-image">
                            <img src="@Url.Content("~/image/" + Model.Imagen)" data-imagezoom="true" class="img-responsive" alt="">
                        </div>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-7 single-right-left simpleCart_shelfItem">
            <h3>@Html.DisplayFor(model => model.Nombre) - @Html.DisplayFor(model => model.Peso)</h3>
            <div class="rating1">
                <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5" checked="">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3">
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>
            </div>
            <p>
                <span class="item_price">Q. @Html.DisplayFor(model => model.PrecioVenta)</span>
                <del>Q. @(Model.PrecioVenta + 5)</del>
                <label>Entrega Gratis</label>
            </p>
            <div class="single-infoagile">
                <ul>
                    <li>
                        Pago contra reembolso Elegible.
                    </li>
                    <li>
                        Velocidad de envío hasta la entrega.
                    </li>
                    <li>
                        1 oferta de:
                        <span class="item_price">Q. @Html.DisplayFor(model => model.PrecioVenta)</span>
                    </li>
                </ul>
            </div>
            <div class="product-single-w3l">
                <p>
                    <i class="fa fa-hand-o-right" aria-hidden="true"></i>Este producto pertenece a
                    <label>@Html.DisplayFor(model => model.CodCategoriaNavigation.Nombre)</label>
                </p>
                <ul>
                    <li>
                        La mejor calidad para Usted!
                    </li>
                    <li>
                        Producto fresco hasta: @Html.DisplayFor(model => model.FecCaducidad)
                    </li>
                    <li>
                        Marca: @Html.DisplayFor(model => model.CodMarcaNavigation.Marca1)
                    </li>
                </ul>
                <p>
                    <i class="fa fa-refresh" aria-hidden="true"></i>Contamos con
                    <label>@Html.DisplayFor(model => model.Cantidad) Unidades </label> en existencia
                </p>
            </div>
            <div class="occasion-cart">
                <div class="text-left">
                    <button class="botones validar redondear" onclick="agregarProducto(@Model.CodProducto)">
                        Añadir al Carrito
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    @if (User.IsInRole("3") || User.IsInRole("2"))
                    {
                        <a class="botones success redondear" style="margin-bottom:10px;" asp-action="Edit" asp-route-id="@Model.CodProducto" asp-route-idcat="@Model.CodCategoria">Editar</a>}
                    <a class="botones danger redondear" asp-controller="Productoes" asp-action="Index" asp-route-idcat="@Model.CodCategoria">Regresar</a>
                </div>

            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>


<div class="featured-section" id="projects">
    <div class="container" style="min-width:85%;">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Productos De Su interés
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="content-bottom-in">
            <ul id="flexiselDemo1">
                @foreach (var item in ViewBag.productosExtra)
                {
                    <li>
                        <div class="w3l-specilamk">
                            <div class="speioffer-agile">
                                <a asp-action="Details" asp-route-id="@item.CodProducto">
                                    <div class="cuadrado_imagen" style="background-image: url('@Url.Content("~/image/" + item.Imagen)'); background-size: cover;">
                                </a>
                            </div>
                            <div class="product-name-w3l">
                                <h4>
                                    <a asp-action="Details" asp-route-id="@item.CodProducto"> @item.Nombre, @item.Peso</a>
                                </h4>
                                <div class="w3l-pricehkj">
                                    <h6>Q.@item.PrecioVenta</h6>
                                    <p>Unicamente @item.Cantidad unidades</p>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                    <button class="botones validar redondear" onclick="agregarProducto(@Model.CodProducto)">
                                        Añadir al Carrito
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        function agregarProducto(txt) {
            $.ajax({
                url: "/cart/compra/",
                data: { "id": txt },
                success: function () {
                    obtenerCarrito();
                }
            });
        }
    </script>
    <script src="@Url.Content("~/js/imagezoom.js")"></script>
    <script src="~/js/jquery.flexisel.js"></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 600,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 1000,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 1500,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


