@model IEnumerable<despensa.Models.Producto>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="page-content-product">
    <div class="main-product">
        <div class="container">
            <div class="row clearfix">
                <div class="find-box">
                    <h1>Categorias de productos</h1>
                    <h4>Tenemos todo lo que necesitas</h4>
                    <div class="col-sm-3">
                        <div class="form-sh"> <a class="btn" asp-action="Create" asp-route-idcat="@ViewData["codigo_cat"]">Crear</a> </div>
                    </div>
                </div>
            </div>
            @foreach (var item in ViewBag.pagina)
            {
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a asp-action="Details" asp-route-id="@item.CodProducto" >
                        <div class="box-img">
                            <h4> @item.Nombre </h4>
                            <img src=@Url.Content("~/image/" + item.Imagen) alt="" />
                        </div>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.CodProducto" asp-route-idcat="@ViewData["codigo_cat"]" >Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CodProducto"asp-route-idcat="@ViewData["codigo_cat"]">Delete</a>
                </div>
            }
            <div class="categories_link">
                <a href="#">Browse all categories here</a>
            </div>

            @Html.PagedListPager((IPagedList)ViewBag.pagina, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
</div>
</div>