@model IEnumerable<despensa.Models.Producto>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{ ViewData["Title"] = "Index"; }
<div class="ads-grid">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Our Top Products
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- product left -->
        <!-- //product left -->
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-16">
            <div class="wrapper">
                <!-- first section (nuts) -->
                <div class="product-sec1">
                    <h3 class="heading-tittle">Nuts</h3>
                    @foreach (var item in ViewBag.pagina)
                    {
                        <div class="col-md-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <div class="cuadrado_imagen" style="background-image: url('@Url.Content("~/image/" + item.Imagen)'); background-size: cover;">
                                    </div>
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a asp-action="Details" asp-route-id="@item.CodProducto" class="link-product-add-cart">ver más</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a href="single.html"> @item.Nombre, @item.Peso</a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price">$@item.PrecioVenta</span>

                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <button class="button2" onclick="agregarProducto(@item.CodProducto)">Añadir al Carrito 1</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //product right -->
    </div>
</div>



@section Scripts {
<script>
    function agregarProducto(txt) {
        $.ajax({
            url: "/cart/compra/",
            data: { "id": txt },
            success: function () {
                obtenerCarrito();
            }
        });
    }
</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

