@model despensa.Models.Usuario

@{
    ViewData["Title"] = "Usuario";
}
<link rel="stylesheet" href="~/css/Perfil.css">
<link rel="stylesheet" href="~/css/login.css">
<link rel="stylesheet" href="~/css/pedidos.css">
<div class="container">
    <h3 class="tittle-w3l" style="margin-bottom:0">
        Perfil
        <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </h3>
</div>
<div class="ads-grid">
    <div class="product-sec1">
        <div class="col-md-3 product-men ">
            <div class="user-item">
                <div class="user-item_photo">
                    <img src="@Url.Content("~/perfiles/" + Model.ImagenPerfil)" style="border-radius: 20px 20px 0 0;" alt="myphoto" />
                </div>
                <div class="user-item_info">
                    <p class="name">@Html.DisplayFor(model => model.PrimerNombre) @Html.DisplayFor(model => model.PrimerApellido)</p>
                    <p class="sub"> @Html.DisplayFor(model => model.Cui)</p>
                    <div class="controls">
                        <a onclick="obtenerCarrito()"><i class="fa  fa-shopping-cart"></i></a>
                        <a data-toggle="modal" data-target="#myModalimagen"><i class="glyphicon glyphicon-camera"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9  ">
            <div class="chat">
                <div class="head" style="color:black">
                    <i class="fa fa-address-card-o"></i>
                    Mis Datos Personales
                </div>
                <div class="chat_inner">
                    <div class="contenedor-formularios" style="max-width: 100%;">

                        <!-- Links de los formularios -->
                        @if (@ViewBag.Error1 == 1)
                        {
                            <div class="alert alert-danger text-center">
                                <strong>Las Contraseñas No Coinciden</strong>
                            </div>
                        }
                        <ul class="contenedor-tabs">
                            <li class="tab tab-segunda active"><a href="#iniciar-sesion" style="color:black">Mis Datos</a></li>
                            <li class="tab tab-primera"><a href="#registrarse" style="color:black">Cambiar Contraseña</a></li>
                        </ul>
                        <!-- Contenido de los Formularios -->
                        <div class="contenido-tab">
                            <!-- Iniciar Sesion -->
                            <div id="iniciar-sesion">
                                <form id="my-form21" asp-controller="Usuarios" asp-action="Edit">
                                    <input type="hidden" asp-for="CodUsuario" />
                                    <div class="fila-arriba">
                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                Primer Nombre <span class="req">*</span>
                                            </label>
                                            <input asp-for="PrimerNombre" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                        </div>

                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                Segundo Nombre <span class="req">*</span>
                                            </label>
                                            <input asp-for="SegundoNombre" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                        </div>
                                    </div>
                                    <div class="fila-arriba">
                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                Primer Apellido <span class="req">*</span>
                                            </label>
                                            <input asp-for="PrimerApellido" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                        </div>

                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                Segundo Apellido <span class="req">*</span>
                                            </label>
                                            <input asp-for="SegundoApellido" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                        </div>
                                    </div>
                                    <div class="fila-arriba">
                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                CUI <span class="req">*</span>
                                            </label>
                                            <input asp-for="Cui" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                        </div>

                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                NIT <span class="req">*</span>
                                            </label>
                                            <input asp-for="Nit " type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                        </div>
                                    </div>
                                    <div class="fila-arriba">
                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                Genero <span class="req">*</span>
                                            </label>
                                            <select asp-for="CodGeneo" class="select-css" style="width:200%;" asp-items="ViewBag.CodGeneo"></select>
                                        </div>
                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                Fecha de Nacimiento <span class="req">*</span>
                                            </label>
                                            <input asp-for="FecNac" type="date" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                        </div>
                                    </div>
                                    <div class="contenedor-input">
                                        <label class="active highlight">
                                            Direccion <span class="req">*</span>
                                        </label>
                                        <input asp-for="Direccion" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                    </div>

                                    <div class="text-left">
                                        <input type="submit" class="botones primary redondear" value="Guardar" style="width:15%">
                                    </div>
                                </form>
                            </div>

                            <!-- Registrarse -->
                            <div id="registrarse">
                                <form id="my-form21" asp-controller="Usuarios" asp-action="Cambiar_contaseña">
                                    <input type="hidden" asp-for="CodUsuario" />
                                    <div class="fila-arriba">
                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                Contraseña <span class="req">*</span>
                                            </label>
                                            <input asp-for="Contraseña" type="password" style="width:200%;" ID="txtPassword" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"
                                                   title="Debe tener 8 caracteres e incluir números, mayúsculas y minúsculas">
                                        </div>
                                        <span class="input-group-btn">
                                            <button id="show_password" class="btn btn-primary" style="float: right;" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                        </span>
                                    </div>
                                    <div class="fila-arriba">
                                        <div class="contenedor-input">
                                            <label class="active highlight">
                                                Contraseña <span class="req">*</span>
                                            </label>
                                            <input asp-for="ConfirmarContraseña" type="password" style="width:200%;" ID="txtPassword1" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"
                                                   title="Debe tener 8 caracteres e incluir números, mayúsculas y minúsculas">
                                        </div>
                                        <span class="input-group-btn">
                                            <button id="show_password1" class="btn btn-primary" style="float: right;" type="button" onclick="mostrarPassword1()"> <span class="fa fa-eye-slash icon"></span> </button>
                                        </span>
                                    </div>
                                    <div class="text-left">
                                        <input type="submit" class="botones primary  redondear" value="Guardar" style="width:15%">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>




    <div class="product-sec1" id="pedidosscroll">
        <div class="col-md-12">
            <div class="chat">
                <div class="head" style="color:black">
                    <i class="fa fa-money"></i>
                    Mis Pedidos En Espera
                </div>
                <div class="chat_inner">
                    @foreach (var item in ViewBag.mispendientes)
                    {
                        <div class="col-md-2 product-men" style="margin-top: 0px; margin-bottom: 30px;">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="item-info-product ">
                                    <a asp-action="Edit" asp-route-id="@item.CodFactura">
                                        <div class="plan basic" onclick="void(0);" style="width: 100%;">
                                            <div class="title"> @item.CodClienteNavigation.PrimerNombre @item.CodClienteNavigation.PrimerApellido)</div>
                                            <div class="price">Q.@item.TotalVendido<span>@item.FecEmision)</span></div>
                                            <div class="lines">
                                                <div>@item.CodClienteNavigation.PrimerNombre</div>
                                                <div>@item.CodClienteNavigation.PrimerNombre</div>
                                                <div>@item.CodClienteNavigation.PrimerNombre</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="product-sec1" id="pedidosscroll">
        <div class="col-md-12">
            <div class="chat">
                <div class="head" style="color:black">
                    <i class="fa fa-money"></i>
                    Pedidos Completados
                </div>
                <div class="chat_inner">
                    @foreach (var item in ViewBag.misEntregados)
                    {
                        <div class="col-md-2 product-men" style="margin-top: 0px; margin-bottom: 30px;">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="item-info-product ">
                                    <a asp-action="Details" asp-route-id="@item.CodFactura">
                                        <div class="plan basic" onclick="void(0);" style="width: 100%;">
                                            <div class="title" style="background-color: #38ee00e5;"> @item.CodClienteNavigation.PrimerNombre @item.CodClienteNavigation.PrimerApellido</div>
                                            <div class="price">Q.@item.TotalVendido<span>@item.FecEmision</span></div>
                                            <div class="lines">
                                                <a class="botones warning-border redondear" asp-action="Factura" asp-route-id="@item.CodFactura" style="margin:0px;"><span>Ver Factura</span></a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    }
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>



    <div class="product-sec1" id="pedidosscroll">
        <div class="col-md-12">
            <div class="chat">
                <div class="head" style="color:black">
                    <i class="fa fa-money"></i>
                    Pedidos Cancelados
                </div>
                <div class="chat_inner">
                    @foreach (var item in ViewBag.misCancelados)
                    {
                        <div class="col-md-2 product-men" style="margin-top: 0px; margin-bottom: 30px;">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="item-info-product ">
                                    <a asp-action="Details" asp-route-id="@item.CodFactura">
                                        <div class="plan basic" onclick="void(0);" style="width: 100%;">
                                            <div class="title" style="background-color: #ee0000e5;"> @item.CodClienteNavigation.PrimerNombre @item.CodClienteNavigation.PrimerApellido</div>
                                            <div class="price">Q.@item.TotalVendido<span>@item.FecEmision</span></div>
                                            <div class="lines">
                                                <div>@item.CodClienteNavigation.PrimerNombre</div>
                                                <div>@item.CodClienteNavigation.PrimerNombre</div>
                                                <div>@item.CodClienteNavigation.PrimerNombre</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>







    <div class="clearfix"></div>
    <!-- //product right -->
</div>

<div class="modal fade" id="myModalimagen" role="dialog">
    <div class="modal-dialog" style="top: 25%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Imagen de Perfil</h4>
            </div>
            <div class="modal-body">
                <div id="iniciar-sesion">
                    <form id="my-form21" asp-controller="Usuarios" asp-action="Cambiar_foto"  enctype="multipart/form-data">
                        <input type="hidden" asp-for="CodUsuario"/>
                        <div class="contenedor-input">
                            <input asp-for="imagens" accept="image/*" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required/>
                        </div>
                        <div class="text-left">
                            <input type="submit" class="botones primary redondear" value="Guardar" style="width:25%">
                            <button type="button" class="botones danger redondear" data-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>

    </div>
</div>



<script type="text/javascript">

    

    
    function mostrarPassword() {
        var cambio = document.getElementById("txtPassword");
        if (cambio.type == "password") {
            cambio.type = "text";
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        } else {
            cambio.type = "password";
            $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
    }
    function mostrarPassword1() {
        var cambio = document.getElementById("txtPassword1");
        if (cambio.type == "password") {
            cambio.type = "text";
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        } else {
            cambio.type = "password";
            $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
    }
</script>


@section Scripts {
    <script>
        $(document).ready(function () {
            var URLactual = jQuery(location).attr('href');
            console.log(URLactual);
            substring = "Usuarios/Details?Austoscroll=pedidos";
            if (URLactual.includes(substring)) {
                $('html, body').animate({
                    scrollTop: $("#pedidosscroll").offset().top
                }, 1000);
            }
        });
    </script>
    <script src="~/js/login.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
