@model despensa.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Usuario</h4>
<hr />



<link rel="stylesheet" href="~/css/login.css">

<div class="contenedor-formularios" style="max-width: 100%;">
    <div class="contenido-tab">
        <div id="iniciar-sesion">
            <form id="my-form21" asp-controller="Usuarios" asp-action="UsuarioAdmin">
                <input type="hidden" asp-for="CodUsuario" />
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Rol De Usuario <span class="req">*</span>
                        </label>
                        <select asp-for="CodRol" class="select-css" style="width:100%;" asp-items="ViewBag.CodRol"></select>
                    </div>

                    <div class="contenedor-input">
                        <label class="active highlight">
                            Estado de Actividad <span class="req">*</span>
                        </label>
                        <select asp-for="CodEstado" class="select-css" style="width:100%;" asp-items="ViewBag.CodEstado"></select>
                    </div>
                </div>
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Primer Nombre <span class="req">*</span>
                        </label>
                        <div class="divinput">  @Html.DisplayFor(model => model.PrimerNombre)</div>
                    </div>

                    <div class="contenedor-input">
                        <label class="active highlight">
                            Segundo Nombre <span class="req">*</span>
                        </label>
                        <div class="divinput">  @Html.DisplayFor(model => model.SegundoNombre)</div>
                    </div>
                </div>
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Primer Apellido <span class="req">*</span>
                        </label>
                        <div class="divinput">  @Html.DisplayFor(model => model.PrimerApellido)</div>
                    </div>

                    <div class="contenedor-input">
                        <label class="active highlight">
                            Segundo Apellido <span class="req">*</span>
                        </label>
                        <div class="divinput">  @Html.DisplayFor(model => model.SegundoApellido)</div>
                    </div>
                </div>
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            CUI <span class="req">*</span>
                        </label>
                        <div class="divinput">  @Html.DisplayFor(model => model.Cui)</div>
                    </div>

                    <div class="contenedor-input">
                        <label class="active highlight">
                            NIT <span class="req">*</span>
                        </label>
                        <div class="divinput">  @Html.DisplayFor(model => model.Nit)</div>
                    </div>
                </div>
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Genero <span class="req">*</span>
                        </label>
                        <div class="divinput">  @Html.DisplayFor(model => model.CodGeneoNavigation.Genero1)</div>
                    </div>
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Fecha de Nacimiento <span class="req">*</span>
                        </label>
                        <div class="divinput">  @Html.DisplayFor(model => model.FecNac)</div>
                    </div>
                </div>
                <div class="contenedor-input">
                    <label class="active highlight">
                        Direccion <span class="req">*</span>
                    </label>
                    <div class="divinput">  @Html.DisplayFor(model => model.Direccion)</div>
                </div>
                <div class="contenedor-input">
                    <label class="active highlight">
                        Email <span class="req">*</span>
                    </label>
                    <div class="divinput">  @Html.DisplayFor(model => model.CorreoElectronico) .</div>
                </div>
                <input type="submit" class="button button-block" value="Guardar">
            </form>
        </div>
        <div id="registrarse">
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
