@model IEnumerable<despensa.Models.Usuario>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
}


<style>
    #card {
        height: 250px;
        width: 300px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        perspective: 600px;
    }

        #card #front {
            border-radius: 10px;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transform: rotateY(0deg);
            overflow: hidden;
            z-index: 1;
        }

            #card #front #top-pic {
                height: 50%;
                width: 100%;
                background-color: #1accfd;
                background-size: cover;
            }

            #card #front #avatar {
                width: 114px;
                height: 114px;
                top: 50%;
                left: 50%;
                margin: -77px 0 0 -57px;
                border-radius: 100%;
                box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8), 0 4px 5px rgba(107, 5, 0, 0.6), 0 0 50px 50px rgba(255, 255, 255, 0.25);
                background-image: url(http://0.gravatar.com/avatar/fa4df8540bab3cb38f7dfa60c6e0522c?size=2000);
                background-size: contain;
                position: absolute;
                z-index: 1;
            }

            #card #front #info-box {
                height: 125px;
                width: 100%;
                position: absolute;
                display: table;
                left: 0;
                bottom: 0;
                background: rgba(255, 87, 29, 0.7);
            }

            #card #front a {
                display: inline-block;
                color: #951009;
                text-decoration: none;
                padding: 5px;
                line-height: 18px;
                border-radius: 5px;
            }

                #card #front a:hover {
                    color: #450300;
                    background: rgba(255, 255, 255, 0.3);
                    transition: .25s ease-in-out;
                }

        #card .info {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            text-align: center;
        }
</style>

<link rel="stylesheet" href="~/css/login.css">
<p>
    <a asp-action="Create" class="button2">Create New</a>
</p>
<div class="ads-grid" style="padding-top:0px;">
    <div class="container" style="width: 90%;">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Usuarios
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="container" style="margin-bottom: 10px;">
            <form asp-action="Index" method="get">
                <div class="col-6 col-md-3">
                    <input id="Nombre" name="Nombre" type="text" placeholder="Nombre" />
                </div>
                <div class="col-6 col-md-3">
                    <input id="Apellido" name="Apellido" type="text" placeholder="Apellido" />
                </div>
                <div class="col-6 col-md-3">
                    <input id="cui" name="cui" type="text" placeholder="DPI" />
                </div>
                <input type="submit" class="button button-block" value="Filtrar" style="max-width: 10%; max-height: 50px; padding: 0px;">
            </form>
        </div>
        <div class="agileinfo-ads-display col-md-16">
            <div class="wrapper">
                <div class="product-sec1">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4  product-men">
                            <div id="card" style="width: 99%;">
                                <div id="front">
                                    <div id="top-pic"></div>
                                    <div id="avatar" style="top:80px"></div>
                                    <div id="info-box">
                                        <div class="info">
                                            <h3> @Html.DisplayFor(modelItem => item.PrimerNombre) @Html.DisplayFor(modelItem => item.PrimerApellido)</h3>
                                            <h4>@Html.DisplayFor(modelItem => item.CodRolNavigation.Rol1)</h4>
                                            <a asp-action="Edit" asp-route-id="@item.CodUsuario">Ver Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
            @if (ViewBag.cui != null || ViewBag.cui != "" || ViewBag.apellido != null || ViewBag.apellido != "" || ViewBag.nombres != null || ViewBag.nombres != "")
            {
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page, Nombre = @ViewBag.nombres, Apellido = @ViewBag.apellido, cui= @ViewBag.cui }))
            }
            else
            {
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page}))
            }

        </div>
    </div>
</div>
