@model IEnumerable<despensa.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecCaducidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodMarcaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecCaducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodCategoriaNavigation.CodCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoNavigation.CodEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodMarcaNavigation.CodMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodProveedorNavigation.CodProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
